# App level
ENVIRONMENT=debug
TOKEN_DRIVER=local
APP_SSL_KEY=randomVeryLongKey
API_ENDPOINT=/v1/api
BACKUP_CRON="* * * * *"
NANOID_LETTERS="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz-"
NANOID_LENGTH=8
KAFKA_NUMBER_OF_PARTITIONS=1
MAIN_DOMAIN="http://localhost:8081"
MAIN_REDIRECT_TO="https://google.com"
APPWRITE_ENDPOINT="https://cloud.appwrite.io/v1"
APPWRITE_PROJECT_ID=""
APPWRITE_API_KEY=""


#Redis
REDIS_HOST=redis
REDIS_PORT=6379

#Kafka
KAFKA_HOSTS=kafka:9092
# KRaft settings
KAFKA_CFG_NODE_ID=0
KAFKA_CFG_PROCESS_ROLES=controller,broker
KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
#Listeners
KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://:9092
KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_CFG_INTER_BROKER_LISTENER_NAME=PLAINTEXT


#Clickhouse
CLICKHOUSE_PROTOCOL=http
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=linkos
CLICKHOUSE_USER=linkos
CLICKHOUSE_PASSWORD=strong_password
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1

#Postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=linkos
POSTGRES_USER=linkos
POSTGRES_PASSWORD=strong_password